{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="control-group {{ errors | length ? ' error' : '' }}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr | merge({ class: 'control-label' }) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% set error = errors[0] %}
        <span class="help-inline">{{ error.message }}</span>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
